body {
	font-size:16px;
	width:100%;
	height:100%;
	background : url('Background.jpg') no-repeat center center fixed;
	background-size:cover;
	overflow-x:hidden !important;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

#wrap-main-content {
	width:100%;
	
}

header {
	background: #022833;
	height:75px;
	line-height:75px;
}

h1 {
	width:70%;
	margin:0 auto;
	text-align:center;
	font-size:1.7em;
	color:#FFFF9A;
}

h2 {
	width:70%;
	margin:0 auto;
	text-align:center;
	font-size:1.5em;
	color:#FFFF9A;
	padding:20px;
}

.menu-name {
    font-size: 3em;
    font-weight: bold;
    color: #000000;
}

.sidebar-section {
	width: 20%;
    background: rgba(0,0,0,0.7);
    height: 667px;
    float:left;
}

.sidebar-section a,.menu-section  a {
	text-decoration:none;
	font-size:1.2em;
	color:rgba(255,255,255,0.8);
	display:block;
}

.sidebar-section li {
	text-align:center;
	padding:10px;
}

.sidebar-section li:hover {
	background: rgba(0,0,0,0.7);
}

.menu-section {
	width:80%;
	float:right;
	text-align:center;
}

.menu-section  li {
	width:200px;
	height:80px;
	display:inline-block;
	border: 2px solid black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
	background: rgba(0,0,0,0.9);
	vertical-align: top;
	line-height:80px;
	cursor:pointer;
	text-align:center;
}

.menu-section  li:hover {
	background: rgba(169,0,0,0.9);
}

.form-section {
width:40%;
margin:0 auto;
padding:20px 0;
border:2px solid #000;
border-radius:10px;
margin-bottom: 5%;
background: rgba(255, 255, 255, 0.9);
text-align:center;
}

label {
display: block;
margin-top:15px;
text-align:left;
width:80%;
margin-left:auto;
margin-right:auto;
font-size: 1.5em;
color: #0a3438;
}


.submit-button {
    display: inline-block;
    width:150px !important;
    vertical-align: middle;
    padding: 12px 24px;
    border: 2px solid black;
    background: #0e494e;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    font-family: 'Baumans', serif;
    font-size:1.1em;
    color: #ffffff;
    text-decoration: none;
    text-align:center;
    margin-top:30px;
    cursor:pointer;
}

.submit-button:hover,
.submit-button:focus {
    background: #ffffff;
    color: #0e494e;
    text-decoration: none;
}
.submit-button:active {
    background: #ffffff;
}

.form-section input, .form-section textarea  {
	width:80%;
	margin:10px auto;
	padding:7px;
}

.server-table {
border-width: 3px;
border-spacing: 3px;
border: solid #1b3c53;
border-collapse: collapse;
width: 85%;
margin-left:auto;
margin-right:auto;
background:rgba(255,255,255,0.9);
line-height:2em;
font-family: 'Oswald', serif;
color: #151614;
overflow:hidden;
}

.server-table td,.server-table th {
border-width: 3px;
padding: 3px;
border: solid #1b3c53;
text-align: center;
vertical-align: middle;
text-transform:uppercase;
}

.server-table td * {
vertical-align: middle;
}

.server-table th {
	background:#5BCEF1;
}
